= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sender_id
    = f.number_field :sender_id
  .field
    = f.label :receiver_id
    = f.number_field :receiver_id
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :viewed
    = f.check_box :viewed
  .actions
    = f.submit 'Save'
