- @messages.conversations.each do |message|
  - if current_user.id != message.sent_messageable_id && !message.opened
    #message_from
      = image_tag('tim.jpg')
    #message_body
      %h2= message.from.name
      %p= message.body
    #reply_link
      = link_to 'Reply', conversation_path(message.id)
    #delete_link
      = link_to 'Delete', destroy_message_path(message.id), :method => :delete, :data => { :confirm => 'Are you sure?' }