- @messages.conversations.each do |message|
  - if current_user.id != message.sent_messageable_id && !message.opened
    .message_message
      .message_from
        = get_profile_image(message.from)
      .message_body
        %h3= message.from.name
        %p= truncate(message.body, length: 100)
      .reply_link
        = link_to 'Reply', conversation_path(message.id)
      .delete_link
        = link_to 'Delete', destroy_message_path(message.id), :method => :delete, :data => { :confirm => 'Are you sure?' }