- @messages.conversations.each do |message|
  - if current_user.id == message.sent_messageable_id || message.opened
    .message_message
      .message_from
        = get_profile_image(message.to)
      .message_body
        %h3= message.to.name
        %p= truncate(message.body, length: 120, separator: ' ')
      .message_links
        = link_to conversation_path(message.id) do
          %i.fa.fa-comments.fa-lg
        = link_to destroy_message_path(message.id), method: :delete, confirm: 'Are you sure you want to delete?' do 
          %i.fa.fa-trash-o.fa-lg
