.response
  = form_tag reply_path(@message), method: :post do
    = hidden_field_tag :id, @message.id
    = hidden_field_tag :topic, @message.topic
    = text_field_tag :body, nil, id: 'message_field'
    = submit_tag :send