%h1 Listing messages

%table
  %tr
    %th Sender
    %th Receiver
    %th Content
    %th Viewed
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.sent_messageable_id
      %td= message.received_messageable_id
      %td= message.title
      %td= message.body
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t(:new_message), new_message_path
