%h1 Send Message

= form_for @message, :url => create_message_path, :method => :post do |f|
  %p= f.hidden_field :to, {value: params[:id]}
  %p= f.label :topic
  %p= f.text_field :topic
  %p= f.label :body
  %p= f.text_area :body
  %p= f.submit :send

= link_to 'Back', all_path