.profile_dash
  = image_tag('tim.jpg')
  %ul#small
    %li= current_user.name
    %li= current_user.gender
    %li= current_user.location
    %li= current_user.age

.inbox
  %h2#incoming Fetching messages...
  = render 'messages/dash'
  #dash_new_message
    = link_to 'Messages', all_path
  

.likes
  %h2 Likes
  =render @users_matched

.search
  =render 'shared/search'
