.profile_dash
  #profile_dash_img
    = get_profile_image(current_user)
  #profile_dash_rest
    #profile_dash_button
      - if current_user.membership == 'basic'
        =link_to 'Upgrade to premium', update_membership_path, class: 'membership_button'
      - else
        =link_to 'Downgrade to basic', update_membership_path, class: 'membership_button' 

    %ul
      %li= current_user.name
      %li= current_user.gender
      %li= current_user.location
      %li= current_user.age

    - if current_user
      %p= link_to 'Go to Profile', user_profile_path(current_user)
      %p= link_to 'Edit Profile', edit_user_registration_path

#dash_background
  .inbox
    %h2#incoming Fetching messages...
    = render 'messages/dash'
    #dash_new_message
      %h3= link_to 'All messages', all_path
    
  #matches_search
    .matches
      %h2#matches Matches | #{pluralize(@votes.count, 'user likes')} you
      - @users_matched.first(4).map do |user|
        .match_with
          #match_with_img
            =link_to( get_profile_image(user), user_profile_path(user) )
          #match_with_name
            %h3= link_to user.name, user_profile_path(user)
      #dash_match_link
        %h3= link_to 'All matches', likes_path

    .search_dash
      %h2#search Search
      =render 'shared/search'
