%h1= @user.name
%img{src: '/assets/tim.jpg' }
%p= @user.email
%p= @user.interest_list
%p Looking for: #{@user.preference}

%p= @user.location
/ %p latitude: #{@user.latitude}, longitude: #{@user.longitude}

%p= @user.description

= link_to 'Like', create_like_path(@user.id), method: :post
