.wrap

  %p
    = get_profile_image(@user)
    -@user.images.each do |image|
      =link_to image_tag(image.image.thumb.url), image
      =link_to "set as profile image | ", set_image_path(image)
      = link_to "Delete", new_message_path
      
  %h1= @user.name
  - if current_user.is_match?(@user)
    - if can? :create, ActsAsMessageable
      %p= button_to 'Send Message', new_message_path
    - else
      You'll need to upgrade to send this user a message.
      = upgrade_button

  - if current_user.find_voted_items.map(&:id).include?(@user.id)
    %p You've liked this user
  - else
    = button_to 'Like', create_like_path(@user.id), method: :post

  %p= @user.age
  %p= @user.email
  %p= @user.location
  %p= @user.interest_list
  %p Looking for: #{@user.preference}