.wrap

  %p
    = get_profile_image(@user)
    -@user.images.each do |image|
      =link_to image_tag(image.image.thumb.url), image.image.url, class: :fancybox
      =link_to set_image_path(image) do
        %i.fa.fa-picture-o
      =link_to image_path(image.id), method: :delete, confirm: 'Are you sure you want to delete?' do
        %i.fa.fa-trash-o


  %p= link_to 'Upload Image', new_image_path
      
  %h1= @user.name
  - if current_user.is_match?(@user)
    - if can? :create, ActsAsMessageable
      %p= button_to 'Send Message', new_message_path, id: 'send_message'
      #message_form
        %h1 Send Message

        = form_for ActsAsMessageable::Message.new, :url => create_message_path, :method => :post do |f|
          %p= f.hidden_field :to, {value: @user.id}
          %p= f.label :topic
          %p= f.text_field :topic
          %p= f.label :body
          %p= f.text_area :body
          %p= f.submit :send
    - else
      You'll need to upgrade to send this user a message.
      = upgrade_button

  - if current_user.find_voted_items.map(&:id).include?(@user.id)
    %p You've liked this user
  - else
    = button_to 'Like', create_like_path(@user.id), method: :post unless @user == current_user

  %p= @user.age
  %p= @user.email
  %p= @user.location
  %p= @user.interest_list
  %p Looking for: #{@user.preference}
