= form_tag '/users/search', {method: :get} do
  %p Age
  = text_field_tag :age_from, '25'
  = text_field_tag :age_to, '35'
  #age_slider  

  = text_field_tag :interest_list, params[:interest_list], { placeholder: 'interests', class: 'tokenfield' }

  = text_field_tag :distance, '10 miles', { placeholder: 'distance' }
  #distance_slider

  = select_tag :membership, options_for_select(['all', 'basic', 'premium'])
  = submit_tag :submit, { value: 'Search' }  