<h2 id='sign_up_title'>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, placeholder: 'name' %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, placeholder: 'email' %></div>

  <div><%= f.label :gender %>
  <%= f.select :gender, ['male', 'female'] %></div>

  <div><%= f.label :preference %>
  <%= f.select :preference, ['male', 'female', 'both'] %></div>

  <div><%= f.label :dob, 'Date of birth' %>
  <%= f.text_field :dob, type: 'date' %></div>

  <div><%= f.label :location %>
  <%= f.text_field :location, placeholder: 'Postcode, town or city' %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, placeholder: 'password' %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

