%p#notice= notice

%p
  %b User:
  = @image.user.name
%p
  %b Image:
  = @image.image
  / = image_tag @image.image.detail.url
%p
  %b Title:
  = @image.title

= link_to 'Like', create_like_path(user.id)

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
