<!DOCTYPE html>
<html>
<head>
  <title>Timdr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="nav">
    <h1><%= link_to 'timdr', root_path %></h1>
    <div class="login">
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "log out", destroy_user_session_path, method: :delete %> <%= link_to "dashboard", dashboard_path, class: 'dashboard_button' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: 'button', id: 'sign_in' %> | 
        <%= link_to "Register", '/#sign_up', id: 'register_link' %>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
  <div id="content">

    <%= yield %>

  </div>
</body>
</html>
